body {
    display: grid;
    grid-template-rows: 50px min-content min-content min-content 70px;
    grid-template-columns: 50px 3fr 3fr 1.5fr;
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        ". question question aside"
        ". answer answer aside"
        "footer footer footer footer";
    ;


    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #320f2a;
}

/* smart phone screen */
@media screen and (max-width: 800px) {
    body {
        grid-template-rows: 50px min-content min-content min-content 70px;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "nav nav"
            "header header"
            "question aside"
            "answer aside "
            "footer footer";
    }
}

/* navbar */
nav {
    grid-area: nav;
    background-color: #320f2a;
    padding: 10px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #821065;
}

header {
    grid-area: header;
    background-color: #320f2a;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

/* TODO media query small phone */
@media screen and (max-width: 400px) {
    body {
        grid-template-rows: 50px min-content min-content min-content min-content 70px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "header"
            "question"
            "aside"
            "answer"
            "footer";
    }
}

img {
    width: 100%;
}

/* Question and answer fields */

.question {
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    grid-area: question;
}

.answer {
    padding: 10px;
    padding-left: 20px;
    grid-area: answer;
}

.question em,
.answer em {
    font-style: normal;
    font-weight: bold;
    color: #821065;
}

.answer ul {
    list-style-type: square;
    margin-bottom: 10px;
}

#examples {
    padding: 10px;
    line-height: 1;
    border-radius: 5px;
    background-color: rgb(156, 172, 205);
}

#examples h3 {
    margin: 5px;
}

.photos {
    background-color: rgb(156, 172, 205);
    display: flex;
    gap: 10px;
}

#examples img:hover {
    transform: scale(1.5);
    transition: all 0.2s;
}

/* sidebar */

.aside {
    height: min-content;
    margin-top: 20px;
    margin-right: 20px;
    grid-area: aside;
    border: 1px solid #320f2a;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(209, 241, 246);
}

.sidebar_pic {
    border-radius: 5px;
}

/* Footer */

footer {
    grid-area: footer;
    padding: 10px;
    line-height: 0.5;
    text-align: left;
    vertical-align: middle;
}

footer p {
    margin-left: 50px;
}